:root {
    --bg:rgb(255, 255, 255);
    --colorI:white;
    --colorII:black;
    --colorIII:rgba(255, 255, 255, 0.2);
    --colorIV:rgba(0, 0, 0, 0.2);
    --colorV:rgb(3, 115, 143);
    --navHeight:75px;
}
* {
    
}
body, html {
    padding:0;
    margin:0;
}
body {
    background:var(--bg);
    color:var(--colorIII);
    overflow:hidden;
}
#menu {
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:var(--navHeight);
    z-index:1;
}
#content {
    position:fixed;
    top:var(--navHeight);

    height:calc(100vh - var(--navHeight));
}