:root {
    --bg:rgb(255, 255, 255);
    --colorI:white;
    --colorII:black;
    --colorIII:rgba(255, 255, 255, 0.2);
    --colorIV:rgba(0, 0, 0, 0.2);
    --colorV:rgb(3, 115, 143);
    --colorVI:rgba(0,0,0,0.6);
    --navHeight:75px;
    --halfWidth:50%;
}
*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
* {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body, html {
    padding:0;
    margin:0;
}
body {
    background:var(--bg);
    color:var(--colorIII);
    overflow:hidden;
    font-family:Arial, Helvetica, sans-serif;
}
#menu {
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:var(--navHeight);
    z-index:1;
    box-shadow: 0 1px 40px -2px rgba(255, 255, 255, 0.501);
}
#menu img {
    height:calc(var(--navHeight) - 20px);
    margin:10px;
}
#menu button {
    position:absolute;
    right:0;
    top:0;
    margin:calc(var(--navHeight) / 4);
    height:calc(var(--navHeight) / 2);
    padding:0px 20px;
    border:none;
    background:var(--colorV);
    color:var(--colorI);
    border-radius:calc(var(--navHeight) / 2);
}
#content {
    position:fixed;
    top:var(--navHeight);
    left:0;
    width:100vw;
    height:calc(100vh - var(--navHeight));
}
#content #requests {
    position: absolute;
    right:50px;
    top:0;
}
#footer {
    background:transparent;
    position:fixed;
    bottom:0;
    left:0;
    width:calc(100vw - 15px);
    color:var(--colorI);
    z-index:1;
    padding:5px;
}
#footer div {
    display:inline-block;
}
#footer #userid {
    position:absolute;
    right:0;
}
.hover {
    transition:0.2s linear;
}
.hover:hover {
    opacity:0.65;
    cursor:pointer;
}
.box {
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:var(--colorVI);
    backdrop-filter:blur(20px);
    box-shadow:0px 0px 20px 1px var(--colorI);
    color:var(--colorI);
    border-radius:20px;
    padding:20px;
    width:calc(var(--halfWidth) - 40px);
    max-height:calc(60vh - 40px);
    overlow-x:hidden;
    overflow-y:auto;
  }
.box h1 {
    text-align:center;
    color:var(--color);
    font-size:40px;
}
.box input {
    background:var(--bgColor);
    color:var(--color);
    border:none;
    width:calc(100% - 30px);
    border-radius:40px;
    height:40px;
    padding:5px 15px;
    outline:none;
    font-size:20px;
    margin:10px 0px;
}
.box exit {
    position:absolute;
    top:20px;
    right:30px;
    padding:0;
    font-size:40px;
    color:var(--color);
    transition:0.2s linear;
}
.box button {
    text-align:center;
    border:none;
    outline:none;
    margin:20px auto;
    display:block;
    box-shadow:0px 0px 20px 1px var(--color);
    background:var(--nav);
    color:var(--color);
    font-size:20px;
    height:40px;
    padding:5px 15px;
    border-radius:40px;
    line-height:30px;
}