<!-- Dominik Honzak -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Silversat Request</title>
  <link rel="icon" href="/pics/logo3.png" />
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<div id="bg"></div>
<div id="snackbar"></div>

<div id="menu">
    <img src="/pics/logo2.png"/>
    <button class="hover" id="create">Request +</button>
</div>
<div id="content">
  <div id="requests">
    <h1>Requests</h1>
    <div id="requestList"></div>
  </div>
</div>
<div id="footer">
    <div>SilverSat Request</div>
    <div id="userid">UID: N/A</div>
</div>
  <!-- Include Socket.io JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>